In [1]:
import requests
import pandas as pd
import json

### STEP 1: Fetch Movie Data from API

In [2]:
url = "https://api.themoviedb.org/3/movie/"

headers = {
    "accept": "application/json",
    "Authorization": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJkNzAzNDQ0YTBjZGMzMzk2MTZiZjRlZDljMDYwOWEzYiIsIm5iZiI6MTc2NDE3MDgwNi42OTgsInN1YiI6IjY5MjcxYzM2ODVmZTQ1MDJiM2VhOTljZiIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.S2wN2DlbIlbuLr6M7TEGxYDfjKhb0L89YDsV4qQy2jk"
}

In [3]:
# Extracting the Specific movie_id
movie_id = [0, 299534, 19995, 140607, 299536, 597, 135397, 420818, 24428, 168259, 99861, 284054, 12445, 181808, 330457, 351286, 109445, 321612, 260513]

movies = []
for id in movie_id:
    response = requests.get(f"{url}{id}", headers=headers)
    data = response.json()
    movies.append(data)

In [4]:
# Convert data to Data Frame
movie_df = pd.DataFrame(movies)
movie_df.head()

,success,status_code,status_message,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,6.0,Invalid id: The pre-requisite id is invalid or...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,False,/9wXPKruA6bWYk2co5ix6fH59Qr8.jpg,"{'id': 86311, 'name': 'The Avengers Collection...",356000000.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 878, ...",https://www.marvel.com/movies/avengers-endgame,299534.0,...,2019-04-24,2.799439e+09,181.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Avenge the fallen.,Avengers: Endgame,False,8.238,26958.0
2,NaN,NaN,NaN,False,/7JNzw1tSZZEgsBw6lu0VfO2X2Ef.jpg,"{'id': 87096, 'name': 'Avatar Collection', 'po...",237000000.0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",https://www.avatar.com/movies/avatar,19995.0,...,2009-12-15,2.923706e+09,162.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Enter the world of Pandora.,Avatar,False,7.594,32852.0
3,NaN,NaN,NaN,False,/8BTsTfln4jlQrLXUBquXJ0ASQy9.jpg,"{'id': 10, 'name': 'Star Wars Collection', 'po...",245000000.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",http://www.starwars.com/films/star-wars-episod...,140607.0,...,2015-12-15,2.068224e+09,136.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Every generation has a story.,Star Wars: The Force Awakens,False,7.255,20103.0
4,NaN,NaN,NaN,False,/mDfJG3LC3Dqb67AZ52x3Z0jU0uB.jpg,"{'id': 86311, 'name': 'The Avengers Collection...",300000000.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",https://www.marvel.com/movies/avengers-infinit...,299536.0,...,2018-04-25,2.052415e+09,149.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Destiny arrives all the same.,Avengers: Infinity War,False,8.236,31173.0

### STEP 2: Data Cleaning and Preprocessing

In [5]:
#Check number of columns
print(movie_df.columns)
print(len(movie_df.columns))

Index(['success', 'status_code', 'status_message', 'adult', 'backdrop_path',
       'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'origin_country', 'original_language', 'original_title',
       'overview', 'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')
29

In [ ]:
#Drp specified Columns 
columns_drop = ['adult', 'imdb_id', 'original_title', 'video', 'homepage']
movie_df = movie_df.drop(columns=columns_drop)
movie_df.head()
print(len(movie_df.columns))

,success,status_code,status_message,backdrop_path,belongs_to_collection,budget,genres,id,origin_country,original_language,...,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,False,6.0,Invalid id: The pre-requisite id is invalid or...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,/9wXPKruA6bWYk2co5ix6fH59Qr8.jpg,"{'id': 86311, 'name': 'The Avengers Collection...",356000000.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 878, ...",299534.0,[US],en,...,"[{'iso_3166_1': 'US', 'name': 'United States o...",2019-04-24,2.799439e+09,181.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Avenge the fallen.,Avengers: Endgame,8.238,26958.0
2,NaN,NaN,NaN,/7JNzw1tSZZEgsBw6lu0VfO2X2Ef.jpg,"{'id': 87096, 'name': 'Avatar Collection', 'po...",237000000.0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",19995.0,[US],en,...,"[{'iso_3166_1': 'US', 'name': 'United States o...",2009-12-15,2.923706e+09,162.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Enter the world of Pandora.,Avatar,7.594,32852.0
3,NaN,NaN,NaN,/8BTsTfln4jlQrLXUBquXJ0ASQy9.jpg,"{'id': 10, 'name': 'Star Wars Collection', 'po...",245000000.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",140607.0,[US],en,...,"[{'iso_3166_1': 'US', 'name': 'United States o...",2015-12-15,2.068224e+09,136.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Every generation has a story.,Star Wars: The Force Awakens,7.255,20103.0
4,NaN,NaN,NaN,/mDfJG3LC3Dqb67AZ52x3Z0jU0uB.jpg,"{'id': 86311, 'name': 'The Avengers Collection...",300000000.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",299536.0,[US],en,...,"[{'iso_3166_1': 'US', 'name': 'United States o...",2018-04-25,2.052415e+09,149.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Destiny arrives all the same.,Avengers: Infinity War,8.236,31173.0

In [8]:
movie_df[['belongs_to_collection', 'genres', 'production_countries', 'production_companies', 'spoken_languages']]

,belongs_to_collection,genres,production_countries,production_companies,spoken_languages
0,NaN,NaN,NaN,NaN,NaN
1,"{'id': 86311, 'name': 'The Avengers Collection...","[{'id': 12, 'name': 'Adventure'}, {'id': 878, ...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'id': 420, 'logo_path': '/hUzeosd33nzE5MCNsZ...","[{'english_name': 'English', 'iso_639_1': 'en'..."
2,"{'id': 87096, 'name': 'Avatar Collection', 'po...","[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'id': 444, 'logo_path': None, 'name': 'Dune ...","[{'english_name': 'English', 'iso_639_1': 'en'..."
3,"{'id': 10, 'name': 'Star Wars Collection', 'po...","[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'id': 1, 'logo_path': '/tlVSws0RvvtPBwViUyOF...","[{'english_name': 'English', 'iso_639_1': 'en'..."
4,"{'id': 86311, 'name': 'The Avengers Collection...","[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'id': 420, 'logo_path': '/hUzeosd33nzE5MCNsZ...","[{'english_name': 'English', 'iso_639_1': 'en'..."
5,None,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'id': 4, 'logo_path': '/jay6WcMgagAklUt7i9Eu...","[{'english_name': 'English', 'iso_639_1': 'en'..."
6,"{'id': 328, 'name': 'Jurassic Park Collection'...","[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'id': 56, 'logo_path': '/cEaxANEisCqeEoRvODv...","[{'english_name': 'English', 'iso_639_1': 'en'..."
7,"{'id': 762512, 'name': 'The Lion King (Reboot)...","[{'id': 12, 'name': 'Adventure'}, {'id': 18, '...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'id': 2, 'logo_path': '/wdrCwmRnLFJhEoH8GSfy...","[{'english_name': 'English', 'iso_639_1': 'en'..."
8,"{'id': 86311, 'name': 'The Avengers Collection...","[{'id': 878, 'name': 'Science Fiction'}, {'id'...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'id': 420, 'logo_path': '/hUzeosd33nzE5MCNsZ...","[{'english_name': 'English', 'iso_639_1': 'en'..."
9,"{'id': 9485, 'name': 'The Fast and the Furious...","[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'id': 333, 'logo_path': '/5xUJfzPZ8jWJUDzYtI...","[{'english_name': 'Arabic', 'iso_639_1': 'ar',..."
10,"{'id': 86311, 'name': 'The Avengers Collection...","[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'id': 420, 'logo_path': '/hUzeosd33nzE5MCNsZ...","[{'english_name': 'English', 'iso_639_1': 'en'..."
11,"{'id': 529892, 'name': 'Black Panther Collecti...","[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'id': 420, 'logo_path': '/hUzeosd33nzE5MCNsZ...","[{'english_name': 'English', 'iso_639_1': 'en'..."
12,"{'id': 1241, 'name': 'Harry Potter Collection'...","[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...","[{'iso_3166_1': 'GB', 'name': 'United Kingdom'...","[{'id': 174, 'logo_path': '/ingPVoHnINIrFR7WHm...","[{'english_name': 'English', 'iso_639_1': 'en'..."
13,"{'id': 10, 'name': 'Star Wars Collection', 'po...","[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'id': 1, 'logo_path': '/tlVSws0RvvtPBwViUyOF...","[{'english_name': 'English', 'iso_639_1': 'en'..."
14,"{'id': 386382, 'name': 'Frozen Collection', 'p...","[{'id': 10751, 'name': 'Family'}, {'id': 16, '...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'id': 6125, 'logo_path': '/tzsMJBJZINu7GHzrp...","[{'english_name': 'English', 'iso_639_1': 'en'..."
15,"{'id': 328, 'name': 'Jurassic Park Collection'...","[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'id': 56, 'logo_path': '/cEaxANEisCqeEoRvODv...","[{'english_name': 'English', 'iso_639_1': 'en'..."
16,"{'id': 386382, 'name': 'Frozen Collection', 'p...","[{'id': 16, 'name': 'Animation'}, {'id': 10751...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'id': 6125, 'logo_path': '/tzsMJBJZINu7GHzrp...","[{'english_name': 'English', 'iso_639_1': 'en'..."
17,None,"[{'id': 10751, 'name': 'Family'}, {'id': 14, '...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'id': 2, 'logo_path': '/wdrCwmRnLFJhEoH8GSfy...","[{'english_name': 'English', 'iso_639_1': 'en'..."
18,"{'id': 468222, 'name': 'The Incredibles Collec...","[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'id': 3, 'logo_path': '/1TjvGVDMYsj6JBxOAkUH...","[{'english_name': 'English', 'iso_639_1': 'en'..."

In [10]:
movie_df['belongs_to_collection'].describe

<bound method NDFrame.describe of 0                                                   NaN
1     {'id': 86311, 'name': 'The Avengers Collection...
2     {'id': 87096, 'name': 'Avatar Collection', 'po...
3     {'id': 10, 'name': 'Star Wars Collection', 'po...
4     {'id': 86311, 'name': 'The Avengers Collection...
5                                                  None
6     {'id': 328, 'name': 'Jurassic Park Collection'...
7     {'id': 762512, 'name': 'The Lion King (Reboot)...
8     {'id': 86311, 'name': 'The Avengers Collection...
9     {'id': 9485, 'name': 'The Fast and the Furious...
10    {'id': 86311, 'name': 'The Avengers Collection...
11    {'id': 529892, 'name': 'Black Panther Collecti...
12    {'id': 1241, 'name': 'Harry Potter Collection'...
13    {'id': 10, 'name': 'Star Wars Collection', 'po...
14    {'id': 386382, 'name': 'Frozen Collection', 'p...
15    {'id': 328, 'name': 'Jurassic Park Collection'...
16    {'id': 386382, 'name': 'Frozen Collection', 'p...
17                                                 None
18    {'id': 468222, 'name': 'The Incredibles Collec...
Name: belongs_to_collection, dtype: object>

In [ ]:
# Extract collection name
def extract_collection_name(value):
    if isinstance(value, dict):
        return value.get("name")
    return None

# Extract list of dict "name" fields and join with |
def extract_names(list_dict):
    if isinstance(list_dict, list):
        return "|".join([item.get("name") for item in list_dict if "name" in item])
    return None

# For spoken languages → use "english_name"
def extract_language_names(list_dict):
    if isinstance(list_dict, list):
        return "|".join([item.get("english_name") for item in list_dict if "english_name" in item])
    return None